body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.logo a img {
    width: 100%;
    margin-top: 10px;
}





/* ! Recyclable classes */
ul li {
    display: inline;
    list-style: none;
    padding: 0 5px;
    font-size: 1.4rem;
    line-height: 80px;
}
ul li:hover {
    cursor: pointer;
}
.my_btn {
    padding: 5px 10px;
    border-radius: 20px;
    background: linear-gradient(90deg,#2184c6, #3cc5eb);
    opacity: 0.8;
}