body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* ! Revolut Logo */
.logo a img {
    width: 100%;
    margin-top: 10px;
}

/* ! DropDown Menu */
.dropdown_menu{
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
.dropdown_menu ul li {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.dropdown_menu ul li:hover{
    color: #2184c6;
    font-size: 1.6rem;
}
.dropdown_menu.active {
    display: block;
}

/* ! Chevron down & up */
.lenguage:hover i{
    transform: rotate(180deg);
}

/* - Recyclable classes */
ul{
    padding: 0;
}
ul li {
    display: inline;
    list-style: none;
    padding: 18px 5px;
    font-size: 1.4rem;
    line-height: 80px;
    position: relative;
}
ul li:hover {
    cursor: pointer;
}
.my_btn {
    padding: 5px 10px;
    border-radius: 20px;
    background: linear-gradient(90deg,#2184c6, #3cc5eb);
    opacity: 0.8;
    transition: all 0.5s;
}
.my_btn:hover{
    opacity: 1;
    padding: 10px 15px;
}


/* - Media Query Responsive */
@media screen and (max-width: 1199px){
    nav.container{
        display: none;
    }
}